<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Research Project</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesSE.css')}}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark nb-background-color">
    <!-- lg = large breakpoint, navbar-light = make text dark, nb-background-color = custom css BG color--> 
        <div class="container">
            <a href="{{url_for('index')}}" class="navbar-brand">
                <img src="{{url_for('static', filename='/images/algae2.png')}}" alt="Algae Logo" class="d-inline-block align-text-top w-25">
            </a>

            <!-- Hamburger icon from Bootstrap-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible navbar menu with custom hover underline CSS and -->
            <div class="collapse navbar-collapse" id="navmenu">
                <!-- Links to hamburger menu button-->
                <ul class="navbar-nav ms-auto">     <!-- ms-auto is margin spacing -->
                    <li class="nav-item">
                        <a href="{{url_for('authors')}}" class="nav-link hover-underline-animation nbMenuItem">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('procedure')}}" class="nav-link hover-underline-animation nbMenuItem">Procedure</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('results')}}" class="nav-link hover-underline-animation nbMenuItem">Results</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- How to use the sensor-->
    <section class="procedure">
        <div class="container">
            <br>
            <div class="text-center">
                <h1>Procedure</h1>
            </div>
            <hr><br>

            <table class="table table-hover table-center table-light table-bordered border-dark-subtle">
                <thead>
                    <tr class="table-success">
                        <th><h3>Step</h3></th>
                        <th><h3>Description</h3></th>
                        <th><h3>Image</h3></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="align-middle">
                        <th scope="row" class="table-secondary">
                            <h2>1</h2>
                        </th>
                        <td><h3>Sterlize six bottles of water in the autoclave, filled with 490 mL of Poland Spring Water and 10 mL of Alga-Gro.</h3></td>
                        <td class="text-center"><img src="{{url_for('static', filename='/images/AutoclaveBottle.jpeg')}}" alt="Autoclave Bottle" class="procedure-img"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-secondary"><h2>2</h2></th>
                        <td><h3>Add the sterlized water to the six different Veriner Biochamber 2000 tanks.<h3></td>
                        <td class="text-center"><img src="{{url_for('static', filename='/images/NoAlgaeFinal.jpeg')}}" alt="Sterilized Water in Tank" class="procedure-img"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-secondary"><h2>3</h2></th>
                        <td><h3>Add 1 gram of the cereal plant straws to their corresponding tanks. Four of the six tanks will have cereal straw.</h3></td>
                        <td class="text-center"><img src="{{url_for('static', filename='/images/WheatStraw.jpeg')}}" alt="Cereal Plant Straw (Wheat Straw)" class="procedure-img"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-secondary"><h2>4</h2></th>
                        <td><h3>Add 4 mL of the algae, Anabaena inaequalis, to five of the six tanks. The one tank that will not have any algae is one of the two tanks that did not have cereal plant straws.</h3></td>
                        <td class="text-center"><img src="{{url_for('static', filename='/images/anabaena.jpeg')}}" alt="Anabaena inaequalis" class="procedure-img"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-secondary"><h2>5</h2></th>
                        <td><h3>Data collection begins with oxygen and carbon dioxide. The Vernier carbon dioxide sensor and Vernier oxygen sensor were  attached to my laptop and then inserted into the tanks; they both ran for two minutes at the same time. The data collected was averaged and these trial were run for each tank once per week, for a total of seven weeks.</h3></td>
                        <td class="text-center"><img src="{{url_for('static', filename='/images/sensor.png')}}" alt="Vernier sensor (oxygen sensor)" class="procedure-img"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-secondary"><h2>6</h2></th>
                        <td><h3>In the final weeks of data collection, absorbance readings were also recorded. The original algae sample was first used to determine the wavelength of light at which the algae absorbs the most light. The solutions were added to the cuvette and then inserted into the Vernier spectrophotometer to collect the absorbance readings.</h3></td>
                        <td class="text-center"><img src="{{url_for('static', filename='/images/Cuvettesimages.jpeg')}}" alt="Cuvettes with Solution" class="procedure-img"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-secondary"><h2>7</h2></th>
                        <td><h3>The final week was left to look at qualititave data. The amount of algae in the tanks were recorded and then eventaully cleaned out.</h3></td>
                        <td class="text-center"><img src="{{url_for('static', filename='/images/Tanks.jpeg')}}" alt="Vernier BioChamber 2000 Tanks" class="procedure-img"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- Footer (requires Bootstrap icons CSS)-->
    <footer class="p-5 footer text-light text-center position-relative">
        <div class="container">
            <p class="lead">Copyright &copy; SE 2023 Research Project</p>
            <a href="#" class="position-absolute bottom-0 end-0 p-5">
                <i class="bi bi-arrow-up-circle h2 icon-white"></i>
            </a>
        </div>
    </footer>
</body>
</html>